<p-dialog 
    header="Autores" 
    [modal]="true"
    [(visible)]="visible" 
    [style]="{ width: '50rem' }" 
    [closable]="false"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <div class="flex flex-column align-items-center justify-content-center"
         *ngIf="loading">
        <p-progressSpinner ariaLabel="loading" />
    </div>

    <div class="col-12 text-left">
        <button pButton pRipple type="button" label="Alta Autor" 
                class="p-button-outlined p-button-warning"
                (click)="altaAutor()" *ngIf="!alta"></button>

        <button pButton pRipple type="button" label="Regresar" 
                class="p-button-outlined p-button-DANGER"
                (click)="alta = false" *ngIf="alta"></button>
    </div>

    <div class="col-12" *ngIf="alta">
        <p-toast key="tst"></p-toast>
        <div class="p-fluid">
            <div class="field">
                <label htmlFor="autor">Autor</label>
                <input pInputText id="autor" name="autor" type="text" [(ngModel)]="autor.autor"/>
            </div>
            <div class="field">
                <label htmlFor="descripcion">Descripción</label>
                <textarea pInputText id="descripcion" rows="5" name="descripcion" type="text" [(ngModel)]="autor.descripcion"></textarea>
            </div>
            <p-fileUpload name="autores[]"
                          chooseLabel="Adjuntar foto autor" 
                          url="http://localhost:5007/nchs/upload/file" 
                          [headers]="header"
                          (onUpload)="onUpload($event)"
                          (onSelect)="selectName($event, 1)">
            </p-fileUpload>
        </div>
    </div>
    <div *ngIf="!alta" class="flex flex-row flex-wrap mt-16">
        <div class="flex flex-column align-items-center justify-content-center pointer mx-4" 
             *ngFor="let autor of listadoAutores" 
             (click)="seleccionaAutor(autor)">
            <img [src]="'http://localhost:3000/' + autor.img" class="w-60 border-circle"/>
            <span class="font-size-16 pt-2">{{autor.autor}}</span>
        </div>
        <div class="p-20" *ngIf="!listadoAutores.length">
            <strong class="font-size-20">Sin autores dados de alta</strong>
        </div>
    </div>
    <div class="col-12 text-center">
        <button pButton pRipple type="button" label="Guardar" 
                class="p-button-raised p-button-success mr-4"
                *ngIf="alta"
                (click)="guardarAutor()"></button>

        <button pButton pRipple type="button" label="Cerrar" 
                class="p-button-raised p-button-danger"
                (click)="cerrar()"></button>
    </div>
</p-dialog>