<div class="grid">
    <div class="col-12">
        <div class="card" *ngIf="!loading">
            <h4>Nicho: {{nicho.nombre}}</h4>
            <h5>Descripcion: {{nicho.descripcion}}</h5>
            <div class="col-12 text-right">
                <button pButton pRipple type="button" icon="pi pi-arrow-left" 
                       class="p-button-outlined p-button-success" label="Regresar"
                       (click)="regresar()"></button>
            </div>
        </div>
    </div>
    <div class="col-12" *ngIf="!loading">
        <div class="card">
            <p-table [value]="panoramaGeneral" 
                     [scrollable]="true" 
                      scrollHeight="800px"
                      rowGroupMode="subheader"
                      groupRowsBy="proceso.id"  
                      [tableStyle]="{'min-width': '60rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Proceso</th>
                        <th>Local</th>
                        <th>Dev</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="groupheader" let-panorama>
                    <tr pRowGroupHeader>
                        <td colspan="3">
                            <span class="font-bold ml-2">{{panorama.proceso.name}}</span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-panorama let-rowIndex="rowIndex">
                    <tr>
                        <td>
                            {{panorama.name}}
                        </td>
                        <td>
                            <i class="pi" 
                               [ngClass]="{'true-icon pi-check-circle text-green-500': panorama.local, 'false-icon pi-times-circle text-pink-500': !panorama.local}"></i>
                        </td>
                        <td>
                            <i class="pi" 
                               [ngClass]="{'true-icon pi-check-circle text-green-500': panorama.dev, 'false-icon pi-times-circle text-pink-500': !panorama.dev}"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div> 
    </div>
</div>
