<div class="grid">
    <div class="col-12">
        <div class="card" *ngIf="!loading">
            <h5>Nicho: {{nicho.nombre}}</h5>
            <h4>Descripcion: {{nicho.descripcion}}</h4>
            <div class="col-12 text-right">
                <button pButton pRipple type="button" icon="pi pi-arrow-left" 
                       class="p-button-outlined p-button-success" label="Regresar"
                       (click)="regresar()"></button>
            </div>
        </div>
    </div>
</div>
