<div class="grid">
    <div class="flex flex-column align-items-center justify-content-center"
         *ngIf="loading">
        <p-progressSpinner ariaLabel="loading" />
    </div>
    <ng-container *ngIf="!loading">
        <p-toast key="tst"></p-toast>
        <div class="col-12">
            <div class="card">
                <h1>Configuración general</h1>
                <h5>Nicho: {{nicho.nombre}}</h5>
                <div class="col-12">
                    <button pButton pRipple type="button" icon="pi pi-times-circle" 
                            class="p-button-outlined p-button-danger" label="Eliminar Configuracion"
                            (click)="confirmarEliminacion($event)"></button>
                    <p-confirmPopup key="confirm-delete"></p-confirmPopup>
                    <p-messages [value]="msgs" key="message-delete"></p-messages>
                </div>
                

                <div class="col-12 text-right">
                    <button pButton pRipple type="button" icon="pi pi-arrow-left" 
                        class="p-button-outlined p-button-success" label="Regresar"
                        (click)="regresar()"></button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card" style="overflow: hidden;">
                <p-fieldset legend="Data" [toggleable]="true" class="line-height-3 m-0" >
                    <ngx-json-viewer [json]="general" [expanded]="false"></ngx-json-viewer>
                </p-fieldset>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <h5>Agregar el domino del sitio sin diagonal al final</h5>
                <div class="field col-12">
                    <span class="p-float-label">
                        <input
                            type="text"
                            id="inputtext"
                            pInputText
                            class="w-100-p"
                            [(ngModel)]="general.dominio"
                        />
                        <label for="inputtext">Dominio</label>
                    </span>
                </div>

            </div>
        </div>
        <!--Card para generar carpeta contenedoras-->
        <div class="col-12">
            <div class="card">
                <h5>Se generan todas las carpeta del proyecto, es lo unico que crea desde la api no mas</h5>
                <p-fieldset legend="Generar carpeta contenedoras">
                    <button pButton pRipple type="button"
                        class="p-button-outlined p-button-warning" label="Generar"
                        [disabled]="general.carpetas.local"
                        (click)="generarCarpetasNicho()"></button>

                    <div class="col-12 text-right">
                        <p-button label="Local" [loading]="loadings.carpetas.local" 
                                  [severity]="general.carpetas.local ? 'success' : 'danger'"
                                  pTooltip="Generar carpetas en local api"></p-button>

                        <p-button label="Dev" class="mx-12" [loading]="loadings.carpetas.dev" 
                                  (onClick)="enviarCarpetasDestino('dev')" 
                                  [disabled]="!general.carpetas.local"
                                  [severity]="general.carpetas.dev ? 'success' : 'danger'"
                                  pTooltip="Generar carpetas en dev" ></p-button>

                        <p-button label="Prod" [loading]="loadings.carpetas.prod" 
                                  [severity]="general.carpetas.prod ? 'success' : 'danger'"
                                  [disabled]="true"
                                  pTooltip="Generar carpetas en producción" ></p-button>
                                  
                        <p-messages [value]="msgsCarpeta" key="message-carpetas"></p-messages>
                    </div>
                </p-fieldset>
            </div>
        </div>
        <!--Card para seleccionar el color y las fuentes del sitio web-->
        <div class="col-12">
            <div class="card">
                <h5>Seleccionar el color y la fuente que tendra el sitio web, sube la fuente a assets/fuentes y genera el archivo dinamyc.css en el css</h5>
                <p-fieldset legend="Color y Fuente">
                    <div ngx-colors-trigger
                         style="width: 50px;height: 50px;margin:10px"
                         [style.background]="general.background.value"
                         [(ngModel)]="general.background.value"
                         [formats]="['hex','rgba']"></div>
                    <div class="col-12">
                        <p-fileUpload name="fuentes[]"
                                       chooseLabel="Adjuntar fuente" 
                                       url="http://localhost:5007/nchs/upload/file" 
                                       [headers]="headerFuentes"
                                       (onUpload)="onUpload($event)">
                        </p-fileUpload>
                    </div>
                    <div class="col-12">
                        <p-table [value]="general.fuentes" [rows]="10" [rowHover]="true">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="min-width: 12rem">
                                        <div class="flex justify-content-between align-items-center">
                                            Fuente
                                        </div>
                                    </th>
                                    <th style="min-width: 12rem">
                                        <div class="flex justify-content-between align-items-center">
                                            Nombre
                                        </div>
                                    </th>
                                    <th style="min-width: 12rem">
                                        <div class="flex justify-content-between align-items-center">
                                            Acciones
                                        </div>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-fuente>
                                <tr>
                                    <td>
                                        {{fuente.file}}
                                    </td>
                                    <td>
                                        {{fuente.name}}
                                    </td>
                                    <td>
                                        <p-inputSwitch [(ngModel)]="fuente.negrita"
                                        pTooltip="Negritas"
                                        ></p-inputSwitch>
                                        <button pButton pRipple type="button" icon="pi pi-times-circle" 
                                                class="p-button-rounded p-button-danger p-button-outlined ml-4"></button>
                                    </td>
                                </tr>

                            </ng-template>
                        </p-table>
                    </div>
                    <div class="col-12 text-right">
                        <p-button label="Local" [loading]="loadings.background.local" 
                                  [disabled]="!general.carpetas.local"
                                  [severity]="general.background.local ? 'success' : 'danger'"
                                  pTooltip="Subir fuente y colores en ambiente local"
                                  (onClick)="guardarColorFuenteLocal()"></p-button>


                        <p-button label="Dev" class="mx-12" [loading]="loadings.background.dev" 
                                  [disabled]="!general.background.local || !general.carpetas.dev"
                                  (click)="subirColorFuenteDev()"
                                  [severity]="general.background.dev ? 'success' : 'danger'"
                                  pTooltip="Subir fuente y colores en ambiente de dev" ></p-button>

                        <p-button label="Prod" [loading]="loadings.background.prod" 
                                  [severity]="general.background.prod ? 'success' : 'danger'"
                                  [disabled]="true"
                                  pTooltip="Subir fuente y colores en ambiente de prod" ></p-button>
                        <p-messages [value]="msgsFuente" key="message-fuentes"></p-messages>
                    </div>
                </p-fieldset>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <h5>Se suben todos los archivos del proyecto que sean estaticos, es decir que su programacion no cambie con algun atributo de la pagina 
                    de forma dinamica, pero tambien se generan los archivos que se tomas de forma dinamica</h5>
                <p-fieldset legend="Archivos Proyecto">
                    <button pButton pRipple type="button" (click)="subirArchivos()"
                            class="p-button-outlined p-button-help" label="Subir archivos proyecto"
                            [disabled]="!general.carpetas.local"
                            pTooltip="Subir archivos del proyecto a local"></button>

                    <div class="col-12 text-right">
                        <p-button label="Local" [loading]="loadings.filesProyecto.local" 
                                  [severity]="general.filesProyecto.local ? 'success' : 'danger'"
                                  pTooltip="Subir archivos del proyecto a local"></p-button>
        
        
                        <p-button label="Dev" class="mx-12" [loading]="loadings.filesProyecto.dev" 
                                  [disabled]="!general.filesProyecto.local || !general.carpetas.dev"
                                  (click)="subirArchivosProyectoDev()"
                                  [severity]="general.filesProyecto.dev ? 'success' : 'danger'"
                                  pTooltip="Subir archivos del proyecto al ambiente de dev" ></p-button>
        
                        <p-button label="Prod" [loading]="loadings.filesProyecto.prod" 
                                  [severity]="general.filesProyecto.prod ? 'success' : 'danger'"
                                  [disabled]="true"
                                  pTooltip="Subir archivos del proyecto al ambiente de prod" ></p-button>

                        <p-messages [value]="msgsFileProyect" key="message-files-proyecto"></p-messages>
                    </div>
                </p-fieldset>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <h5>Se sube el logo, solo sube la imagen en fisico a la carpeta necesaria</h5>

                <p-fieldset legend="Logotipo del Sitio">
                    <div class="col-12">
                        <p-fileUpload name="logos[]"
                                      [disabled]="!general.carpetas.local"
                                      chooseLabel="Adjuntar Logo" 
                                      url="http://localhost:5007/nchs/upload/file" 
                                      [headers]="headerLogo"
                                      (onBeforeUpload)="changeName($event)"
                                      (onSelect)="selectName($event, 1)"
                                      (onUpload)="onUpload($event)">
                        </p-fileUpload>
                    </div>
                    <div class="col-12 text-right">
                        <p-button label="Local" [loading]="loadings?.logo?.local" 
                                [severity]="general?.logo?.local ? 'success' : 'danger'"
                                pTooltip="Subir logotipo al ambiente local"></p-button>
                        
                        <p-button label="Dev" class="mx-12" [loading]="loadings?.logo?.dev" 
                                [disabled]="!general?.logo?.local || !general.carpetas.dev"
                                (click)="subirLogoDev()"
                                [severity]="general?.logo?.dev ? 'success' : 'danger'"
                                pTooltip="Subir el logotipo al ambiente dev" ></p-button>

                        <p-button label="Prod" [loading]="loadings.logo.prod" 
                                    [severity]="general?.logo?.prod ? 'success' : 'danger'"
                                    [disabled]="true"
                                    pTooltip="Subir el logotipo al ambiente de prod" ></p-button>

                        <p-messages [value]="msgsLogo" key="message-logo"></p-messages>
                    </div>
                </p-fieldset>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <h5>Se sube el icon del sitio, solo sube la icon en fisico a la carpeta necesaria</h5>
                <p-fieldset legend="Icon del Sitio">
                    <div class="col-12">
                        <p-fileUpload name="icons[]"
                                      [disabled]="!general.carpetas.local"
                                      chooseLabel="Adjuntar Icon" 
                                      url="http://localhost:5007/nchs/upload/file" 
                                      [headers]="headerIcon"
                                      (onSelect)="selectName($event, 2)"
                                      (onBeforeUpload)="changeName($event)"
                                      (onUpload)="onUpload($event)">
                        </p-fileUpload>
                    </div>
                    <div class="col-12 text-right">
                        <p-button label="Local" [loading]="loadings?.icon?.local" 
                                [severity]="general?.icon?.local ? 'success' : 'danger'"
                                pTooltip="Subir icon al ambiente local"></p-button>
                        
                        <p-button label="Dev" class="mx-12" [loading]="loadings?.icon?.dev" 
                                [disabled]="!general?.icon?.local || !general.carpetas.dev"
                                (click)="subirIconDev()"
                                [severity]="general?.icon?.dev ? 'success' : 'danger'"
                                pTooltip="Subir el icon al ambiente dev" ></p-button>

                        <p-button label="Prod" [loading]="loadings?.icon?.prod" 
                                    [severity]="general?.icon?.prod ? 'success' : 'danger'"
                                    [disabled]="true"
                                    pTooltip="Subir el icon al ambiente de prod" ></p-button>

                        <p-messages [value]="msgsIcon" key="message-icon"></p-messages>
                    </div>

                </p-fieldset>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <h5>Se genera el json que lee la pagina para mostrar el logo y el icon de la pagina</h5>
                <p-fieldset legend="JSON para Logo y Icon">
                    <button pButton pRipple type="button"
                            class="p-button-outlined p-button-warning" label="Generar json logo y icon"
                            [disabled]="!general.carpetas.local"
                            (click)="generarJsonIconLogoLocal()"
                            pTooltip="Genera el json para el logo y icon"></button>

                    <div class="col-12 text-right">
                        <p-button label="Local" [loading]="loadings.jsonLogoIco.local" 
                                [severity]="general.jsonLogoIco.local ? 'success' : 'danger'"
                                pTooltip="Generar json para el logo y icon local"></p-button>

                        <p-button label="Dev" class="mx-12" [loading]="loadings.jsonLogoIco.dev" 
                                [disabled]="!general.jsonLogoIco.local || !general.carpetas.dev"
                                [severity]="general.jsonLogoIco.dev ? 'success' : 'danger'"
                                (click)="generarJsonIconLogoDev()"
                                pTooltip="Generar json para el logo y icon local para el ambinete de dev" ></p-button>

                        <p-button label="Prod" [loading]="loadings.jsonLogoIco.prod" 
                                [severity]="general.jsonLogoIco.prod ? 'success' : 'danger'"
                                [disabled]="true"
                                pTooltip="Generar json para el logo y icon local para el ambinete de prod" ></p-button>

                        <p-messages [value]="msgsJsonIconLogo" key="message-json-logo"></p-messages>
                    </div>
                </p-fieldset>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <h5>Se genera el archivo routing.php, es lo unico que se hace</h5>
                <p-fieldset legend="Routing">
                    <button pButton pRipple type="button"
                            class="p-button-outlined p-button-warning" label="Generar archivo routing.php"
                            [disabled]="!general.carpetas.local"
                            (click)="generarRouting()"
                            pTooltip="Genera el archivo routing"></button>

                        <div class="col-12 text-right">
                            <p-button label="Local" [loading]="loadings.routing.local" 
                                      [severity]="general.routing.local ? 'success' : 'danger'"
                                      pTooltip="Generar el archivo routing.php en local"></p-button>
        
                            <p-button label="Dev" class="mx-12" [loading]="loadings.routing.dev" 
                                      [disabled]="!general.routing.local || !general.carpetas.dev"
                                      [severity]="general.routing.dev ? 'success' : 'danger'"
                                      (click)="subirRoutingDev()"
                                      pTooltip="Generar el archivo routing.php en dev" ></p-button>
        
                            <p-button label="Prod" [loading]="loadings.routing.prod" 
                                      [severity]="general.routing.prod ? 'success' : 'danger'"
                                        [disabled]="true"
                                        pTooltip="Generar el archivo routing.php en prod" ></p-button>
        
                            <p-messages [value]="msgsRouting" key="message-routing"></p-messages>
                        </div>
                </p-fieldset>
            </div>
        </div>
    </ng-container>

</div>
